<style type="text/css">
    .tr-border-bottom td{
    	border-bottom: 1px solid black;
    }
    .td-border-right {
    	border-right: 1px solid black;
    }
    .table-cell-fixed-width td{
    	max-width: 50px;
    	width: 50px;
    }
</style>

<div class="container-fluid">
	<button ng-click="sCtrl.onVerifySolution()">Finish</button>
	<label><i ng-show="sCtrl.incorrect">Sorry, this solution is incorrect!</i></label>
	<label style="color:goldenrod;"><strong ng-show="sCtrl.correct">Congratulation! This solution is correct!</strong></label>
	<table class="table table-cell-fixed-width" style="table-layout: fixed;">
		<tbody>
			<tr ng-repeat="row in sCtrl.matrix.slice(0, 2)">
				<td ng-repeat="cell in row.slice(0, 2)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(2, 3)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(3, 5)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(5, 6)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(6)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
			</tr>
			<tr ng-repeat="row in sCtrl.matrix.slice(2, 3)" class="tr-border-bottom">
				<td ng-repeat="cell in row.slice(0, 2)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(2, 3)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(3, 5)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(5, 6)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(6)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
			</tr>
			<tr ng-repeat="row in sCtrl.matrix.slice(3, 5)">
				<td ng-repeat="cell in row.slice(0, 2)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(2, 3)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(3, 5)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(5, 6)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(6)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
			</tr>
			<tr ng-repeat="row in sCtrl.matrix.slice(5, 6)" class="tr-border-bottom">
				<td ng-repeat="cell in row.slice(0, 2)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(2, 3)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(3, 5)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(5, 6)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(6)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
			</tr>
			<tr ng-repeat="row in sCtrl.matrix.slice(6)">
				<td ng-repeat="cell in row.slice(0, 2)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(2, 3)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(3, 5)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(5, 6)" class="td-border-right">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
				<td ng-repeat="cell in row.slice(6)">
					<b ng-if="cell.isDiabled">{{cell.value}}</b>
					<input ng-if="!cell.isDiabled" ng-model="cell.value" type="number" style="max-width:90%">
				</td>
			</tr>
		</tbody>
	</table>
</div>